# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/ember/dist
/ember/tmp

# dependencies
/node_modules
/bower_components
/ember/node_modules
/ember/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/ember/.sass-cache
/ember/connect.lock
/ember/coverage/*
/ember/libpeerconnection.log
ember/npm-debug.log
ember/testem.log
