<div class="logo your-logo-here">
  <h3>YOUR LOGO HERE</h3>
  <small>
    Xavier is looking to join an awesome team.<br>
    {{#link-to 'contact'}}Click here{{/link-to}} to send him a message!
  </small>
</div>

<address>
  <h1><b>Xavier Bick</b></h1>
  <h2>Full-Stack Web Developer</h2>
  <br>
  <h3>{{email-address prefix="fbick" domain="udallas.edu"}}</h3>
  <h3>H: 636-405-0943</h3>
  <h3>M: 636-542-2628</h3>
</address>
