{{home-button}}

<ul class="open-source-list">
  <li>
    <a href="https://gitlab.com/gitlab-org/gitlab-ce"><span>GitLab CE (Contributor)</span></a>
  </li>
  <li>
    <a href="https://github.com/stffn/declarative_authorization"><span>Declarative Authorization (Contributor)</span></a>
  </li>
  <li>
    <a href="https://github.com/tektite-software/authoreyes"><span>Authoreyes (Author)</span></a>
  </li>
  <li>
    <a href="https://github.com/pzuraq/ember-inputmask"><span>ember-inputmask (Maintainer)</span></a>
  </li>
  <li>
    <a href="https://github.com/zeiv/caseadilla"><span>Caseadilla (Author)</span></a>
  </li>
  <li>
    <a href="https://github.com/zeiv/SSD1306-ruby"><span>SSD1306 Ruby Library (Author)</span></a>
  </li>
</ul>
