{{home-button}}

<ul class="portfolio-list">
  <li>
    <a href="https://www.prelude.io" target="_blank"><span>Prelude.io PAAS</span></a>
  </li>
  <li>
    <a href="https://trade.io" target="_blank"><span>Trade.io</span></a>
  </li>
  <li>
    <a href="https://dlbx.io" target="_blank"><span>DealBox</span></a>
  </li>
  <li>
    <a href="https://tektitesoftware.com" target="_blank"><span>Tektite Software</span></a>
  </li>
  <li>
    <a href="https://wexy.com" target="_blank"><span>MVP for Wexy Online Marketplace</span></a>
  </li>
  <li>
    <a href="https://rally-together.herokuapp.com" target="_blank"><span>API for Rally Together</span></a>
  </li>
</ul>
