{{home-button}}

<ul class="portfolio-list">
  <li>
    <a href="https://www.prelude.io"><span>Prelude.io PAAS</span></a>
  </li>
  <li>
    <a href="https://listerfront.herokuapp.com"><span>Wexy Online Marketplace</span></a>
  </li>
  <li>
    <a href="https://udjs.herokuapp.com"><span>MVP for UD Journal of Science</span></a>
  </li>
  <li>
    <a href="https://rally-together.herokuapp.com"><span>API for Rally Together</span></a>
  </li>
</ul>
