{{home-button}}

<ul class="profile-list">
  <a href="https://www.linkedin.com/in/xavierbick">
    <li>
      {{fa-icon "linkedin"}}
      <span>/in/xavierbick</span>
    </li>
  </a>
  <a href="https://www.github.com/zeiv">
    <li>
      {{fa-icon "github"}}
      <span>/zeiv</span>
    </li>
  </a>
  <a href="https://stackoverflow.com/users/1247505/zeiv">
    <li>
      {{fa-icon "stack-overflow"}}
      <span>/users/1247505/zeiv</span>
    </li>
  </a>
</ul>
