html {
  font-size: 1em;
}

body {
  background-color: hsl(37, 9%, 42%);
  background-image: url('/coffee-on-table.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  /*perspective: 800px;
  perspective-origin: 50% 50%;*/

  font-family: sans-serif;
  font-family: "museo-sans", "Avenir", "Helvetica Neue", Helvetica, "Calibri Light", "Calibri", "Arial Light", Arial, sans-serif;
  color: hsl(0, 0%, 28%);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* Desktop and Tablet */
/* Styles for Mobile at end of Document */
@media (min-width: 600px) {
  main {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: visible;

    /*-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/

    /*padding: 4rem;
    padding-top: 5rem;*/
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
  }
}

a, a * {
  color: inherit;
}

.ember-view.liquid-container {
  height: 100%;
  width: 100%;
  overflow: visible;
  perspective: 2000px;
}

.liquid-child {
  backface-visibility: hidden;
  background-color: hsl(0, 0%, 90%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  width: 100%;
  height: 100%;
  position: relative;

  -webkit-box-shadow: 0 0 6px hsl(0, 0%, 15%);
  -moz-box-shadow: 0 0 6px hsl(0, 0%, 15%);
  box-shadow: 0 0 6px hsl(0, 0%, 15%);

  padding: 4rem;
  padding-top: 5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.your-logo-here {
  padding: 1rem;
  float: right;
  text-align: center;
  color: hsl(0, 0%, 45%);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem dashed hsl(0, 0%, 80%);
  width: 12rem;
  height: 12rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.your-logo-here h3 {
  margin-top: 0;
  font-weight: bold;
}

div.logo {
  width: 12em;
  height: 12em;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.logo img {
  max-height: 100%;
  max-width: 100%;
}

div.your-logo-here small {
  font-weight: 200;
}

address {
  font-style: normal;
  padding-bottom: 1rem;
  color: hsl(0, 0%, 30%);
}

address h1, address h2, address h3 {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

address h1 {
  font-size: 2.5rem;
}

address h3 {
  padding-bottom: 0.3rem;
}

address .telephone a {
  text-decoration: none;
}

address, address h1, address h2, address h3, nav ul.home-nav li, ul.portfolio-list li, ul.profile-list li, ul.open-source-list li, .home-button {
  text-shadow: 0px -1px 1px hsl(0, 0%, 65%), 0 1px 1px white;
}

nav ul.home-nav {
  list-style: none;
  padding: 0;
  margin-top: 2.5em;
}

nav ul.home-nav a {
  text-decoration: none;
  color: hsl(0, 0%, 35%);
}

ul.portfolio-list li a, ul.profile-list li a, ul.open-source-list li a {
  color: hsl(0, 0%, 35%);
}

nav ul.home-nav a:hover {
  text-decoration: underline;
}


nav ul.home-nav div.ember-view {
  display: inline-block;
}

nav ul.home-nav li {
  display: inline-block;
  margin-right: 2em;
}

.home-button {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  color: hsl(0, 0%, 70%);
}

.contact-form {
  height: 94%;
  position: relative;
  overflow: hidden;
}

.contact-form textarea, .contact-form input, .contact-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  outline: none;
}

.contact-form textarea {
  float: left;
  height: 100%;
  width: 45%;
  margin-right: 10%;
  resize: none;

  background-image: -moz-linear-gradient(top , transparent, transparent 1.45rem,black 0px);
  background-image: -webkit-linear-gradient(top , transparent, transparent 1.45rem,black 0px);

  -webkit-background-size:  100% 1.5rem;
  background-size: 100% 1.5rem;
  overflow-y: auto;

}

.contact-form .right {
  float: right;
  height: 100%;
  width: 45%;
  position: relative;
}

.contact-form input {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 1.5rem;
  width: 100%;
}

.contact-form button {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  height: 3rem;
  background-color: hsl(0, 0%, 80%);
  cursor: pointer;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;

  -webkit-transition: background-color 300ms;
  -webkit-transition: color 300ms;
  -moz-transition: background-color 300ms;
  -moz-transition: color 300ms;
  -o-transition: background-color 300ms;
  -o-transition: color 300ms;
  transition: background-color 300ms;
  transition: color 300ms;
}

.contact-form button:hover {
  background-color: hsl(244, 34%, 29%);
  color: hsl(0, 0%, 90%);
}

.contact-form .g-recaptcha {
  -moz-transform:scale(0.85);
  -ms-transform:scale(0.85);
  -o-transform:scale(0.85);
  -moz-transform-origin:0;
  -ms-transform-origin:0;
  -o-transform-origin:0;
  -webkit-transform:scale(0.85);
  transform:scale(0.85);
  -webkit-transform-origin:0 0;
  transform-origin:0;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.85,M12=0,M21=0,M22=0.85,SizingMethod='auto expand');
}

div.alert {
  position: absolute;
  top: 1rem;
  left: 4rem;
  padding: 0.5rem;
  box-sizing: border-radius;
  border: 1px solid hsl(9, 80%, 35%);
  color: hsl(9, 80%, 35%);
  transition: opacity 500ms;
}

div.alert.exiting {
  opacity: 0;
}

ul.profile-list {
  list-style: none;
  padding: 0;
}

ul.profile-list a {
  text-decoration: none;
  position: relative;
  height: auto;
}

ul.profile-list li {
  margin-bottom: 1em;
  font-size: 2.5em;
  position: relative;
  height: auto;
}

ul.profile-list li span {
  font-size: 0.6em;
  position: relative;
  vertical-align: middle;
  color: hsl(0, 0%, 70%);
}

ul.portfolio-list {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
}

ul.portfolio-list li {
  margin-bottom: 1em;
}

ul.portfolio-list li a {
  text-decoration: none;
}

ul.portfolio-list li a span:hover {
  text-decoration: underline;
}

ul.portfolio-list li a:before {
  font-family: 'FontAwesome';
  content: '\f08e';
  text-decoration: none !important;
  color: hsl(0, 0%, 75%);
  margin-right: 0.8em;
}

ul.open-source-list {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
}

ul.open-source-list li {
  margin-bottom: 1em;
}

ul.open-source-list li a {
  text-decoration: none;
}

ul.open-source-list li a span:hover {
  text-decoration: underline;
}

ul.open-source-list li a:before {
  font-family: 'FontAwesome';
  content: '\f121';
  text-decoration: none !important;
  color: hsl(0, 0%, 75%);
  margin-right: 0.8em;
}

/* Mobile */
@media (max-width: 600px) {
  html {
    font-size: 0.78em;
  }

  main {
    width: 96%;
    height: 96%;
    position: absolute;
    margin: 2%;
    overflow: visible;
  }

  .liquid-child {
    padding: 2.5em;
    padding-top: 3em;
  }

  div.your-logo-here {
    display: none;
  }

  .ember-view.liquid-container {
    height: 100%;
    width: 100%;
    overflow: visible;
    perspective: 0px;
  }

  address .telephone a {
    text-decoration: underline;
  }

  nav ul.home-nav div.ember-view {
    display: block;
    margin-bottom: 1.5em;
    padding: 0.5em;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 3px;
    background-color: hsl(0, 0%, 93%);
  }

  nav ul.home-nav li {
    display: block;
  }

  .contact-form, .contact-form * {
    float: none;
  }

  .contact-form .right {
    float: none;
    width: 100%;
    height: 50%;
  }

  .contact-form textarea {
    float: none;
    margin: 0;
    margin-bottom: 2em;
    width: 100%;
    height: 40%;

    background-image: -moz-linear-gradient(top , transparent, transparent 1.52em,black 0px);
    background-image: -webkit-linear-gradient(top , transparent, transparent 1.52em,black 0px);

    -webkit-background-size:  100% 1.7em;
    background-size: 100% 1.7em;
    overflow-y: auto;
  }
}
